@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{

  ::-webkit-scrollbar {
    width: 12px; 
    height: 7px;/* Adjust the width as desired */
  }

  ::-webkit-scrollbar-track {
    background: #9a9a9a; 
    /* border: 1px solid #1c058f; */
    /* border-radius: 50px; */
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(75,85,99); /* Thumb color */
     /* Thumb border */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover state color for thumb */
}
}

.custom-img {
  background-image: url('../public/images/map3.png');
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 400px;
  background-position: center;
  background-size: cover;
  margin-top: 22px;
}

.custom-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity value as needed */
}
.box{
  scroll-behavior: smooth;
}
